/*Reset*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------------------------------------*/
body {
  color: #202124;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  color: #333;
}

li {
  list-style-type: none;
}

.container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container-region-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container .container-region-wrapper .region-top {
  height: 170px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

.container .container-region-wrapper .region-top .top-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 20px;
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown {
  position: relative;
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropbuton {
  color: #fff;
  font-size: 14px;
  min-width: 126px;
  background-color: #8f8585;
  border: 1px solid #fbbc05;
  border-radius: 4px;
  height: 36px;
  padding: 0 16px;
  line-height: 27px;
  cursor: pointer;
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropbuton:hover {
  background-color: #8f8585;
  border: 1px solid #dadce0;
  -webkit-box-shadow: 1px 2px 40px #07235c;
          box-shadow: 1px 2px 40px #07235c;
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropbuton:focus {
  border: 1px solid #ded32a;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up .nav-dropdown .dropbuton {
    height: 31px;
  }
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  text-align: center;
  margin-top: 5px;
  background-color: #f8f9fa;
  border: 1px solid #eceff1;
  border-radius: 4px;
  font-size: 14px;
  min-width: 110px;
  background: #b7b2b2;
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list {
  width: 124px;
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list #lightTheme:hover {
  color: #dfc9c9;
  border-right: 2px solid #dfc9c9;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list #lightTheme {
    border-right: 2px solid #dfc9c9;
  }
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list #darkTheme:hover {
  color: #333;
  border-right: 2px solid #333;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list #darkTheme {
    border-right: 2px solid #333;
  }
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list #defaultTheme:hover {
  color: #fff;
  border-right: 2px solid #fff;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list #defaultTheme {
    border-right: 2px solid #fff;
    height: auto;
  }
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list .list-theme-item {
  color: #efeaea;
  padding: 10px;
  margin: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list .list-theme-item:hover {
  border-bottom: 1px solid #ded32a;
  border-radius: 30%;
  -webkit-box-shadow: 0 1px 1px #0000001a;
          box-shadow: 0 1px 1px #0000001a;
  cursor: pointer;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list .list-theme-item:hover {
    border-radius: 30%;
  }
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list .list-theme-item:focus {
  border: 1px solid #4285f4;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list .list-theme-item {
    margin: 0;
    padding: 5px;
    width: calc(309px / 3);
  }
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 27px;
    width: 307px;
  }
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content {
    right: 0;
  }
}

.container .container-region-wrapper .region-top .top-up .nav-dropdown .show-dropContent {
  display: block;
}

.container .container-region-wrapper .region-top .top-up .nav-list .nav-item {
  padding-left: 10px;
}

.container .container-region-wrapper .region-top .top-up .nav-list .nav-item .nav-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  padding: 5px;
}

.container .container-region-wrapper .region-top .top-up .nav-list .nav-item .nav-item-link:hover {
  -webkit-box-shadow: 1px 2px 40px #07235c;
          box-shadow: 1px 2px 40px #07235c;
  background: #d5dae4;
  border-radius: 25px;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top .top-up {
    padding: 8px 5px;
    margin: 0;
  }
}

.container .container-region-wrapper .region-top .top-down {
  margin: 55px 45px 0 45px;
}

.container .container-region-wrapper .region-top .top-down .top-down-title {
  color: #d93025;
  font-size: 20px;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-top {
    height: 140px;
    margin-bottom: 10px;
  }
}

.container .container-region-wrapper .region-content .content-search-wrapper {
  max-width: 1140px;
  min-width: 236px;
  width: 96%;
  margin: 0 20px 40px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left {
  min-width: 170px;
  width: 16%;
  padding-right: 25px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left .column-title {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left .column-row-wrapper {
  height: 40px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left .column-row-wrapper .row-text {
  height: 30px;
  line-height: 30px;
  color: #222;
  font-size: 13px;
  font-weight: 400;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left .column-row-wrapper .row-text {
    line-height: inherit;
    height: auto;
  }
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left .column-row-wrapper {
    height: 60px;
  }
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left {
    padding: 0;
  }
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle {
  width: 100%;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields #clearField {
  height: 40px;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields #clearField {
    display: none;
  }
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field {
  height: 40px;
  outline: none;
  font-size: 16px;
  color: #000000de;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field input {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  width: 100%;
  height: 30px;
  padding: 1px 8px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field input:focus {
  -webkit-box-shadow: inset 0px 1px 2px #8f8585;
          box-shadow: inset 0px 1px 2px #8f8585;
  border: 1px solid #4d90fe;
  outline: none;
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field {
    margin-bottom: 20px;
  }
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .form-field-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 167px;
  width: 100%;
  height: 40px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .form-field-bottom .search-field {
  width: 100%;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .form-field-bottom .search-field input {
  width: 100%;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .form-field-bottom .field-bottom-between {
  width: 52px;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  text-align: center;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .form-field-bottom .field-bottom-between .column-text {
  color: #202124;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons {
  padding-top: 18px;
  text-align: end;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button {
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #3079ed;
  color: #fff;
  background-color: #4d90fe;
  height: 30px;
  min-width: 120px;
  padding: 0 16px;
  cursor: pointer;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button:hover {
  background-color: #d5dae4;
  border: 1px solid #dadce0;
  -webkit-box-shadow: 1px 2px 20px #07235c;
          box-shadow: 1px 2px 20px #07235c;
  color: #202124;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button:focus {
  border: 1px solid #fbbc05;
}

@media (max-width: 450px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons {
    text-align: center;
  }
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons {
    padding-top: 0;
  }
}

@media (max-width: 1000px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle {
    width: 60%;
  }
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle {
    margin-top: 60px;
    position: absolute;
  }
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right {
  min-width: 330px;
  width: 60%;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right .column-title {
  height: 40px;
  font-size: 13px;
  font-weight: 700;
  color: #777;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right .column-wrapper {
  padding-left: 10px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right .column-wrapper .column-row-wrapper {
  height: 40px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right .column-wrapper .column-row-wrapper .row-text {
  color: #555;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right .column-wrapper .column-row-wrapper .row-4 {
  height: 30px;
  line-height: 15px;
  font-size: 11px;
}

.container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right .column-wrapper .column-row-wrapper .row-5 {
  height: 30px;
  line-height: 15px;
  font-size: 11px;
}

@media (max-width: 1000px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right {
    display: none;
  }
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper .search-form-content {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 490px) {
  .container .container-region-wrapper .region-content .content-search-wrapper {
    margin: 0;
  }
}

.container .region-footer {
  background: #f2f2f2;
}

.container .region-footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #70757a;
  margin: 0 20px;
}

.container .region-footer .footer-container .footer-top {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  border-bottom: 1px solid #dadce0;
  padding: 15px 15px;
}

@media (max-width: 490px) {
  .container .region-footer .footer-container .footer-top img {
    height: 40px;
  }
}

@media (max-width: 490px) {
  .container .region-footer .footer-container .footer-top {
    height: 42px;
  }
}

.container .region-footer .footer-container .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .region-footer .footer-container .footer-bottom .footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 490px) {
  .container .region-footer .footer-container .footer-bottom .footer-bottom-left {
    height: 30px;
  }
}

.container .region-footer .footer-container .footer-bottom .footer-bottom-right #settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .region-footer .footer-container .footer-bottom .footer-bottom-right #settings img {
  padding-left: 5px;
}

@media (max-width: 490px) {
  .container .region-footer .footer-container .footer-bottom .footer-bottom-right #settings img {
    display: none;
  }
}

@media (max-width: 490px) {
  .container .region-footer .footer-container .footer-bottom .footer-bottom-right {
    height: 30px;
  }
}

.container .region-footer .footer-container .footer-bottom a {
  color: #70757a;
  padding: 15px;
  display: block;
  white-space: nowrap;
  text-decoration: none;
}

.container .region-footer .footer-container .footer-bottom a:hover {
  color: #3c4043;
}

@media (max-width: 490px) {
  .container .region-footer .footer-container .footer-bottom a {
    padding: 8px;
  }
}

@media (max-width: 490px) {
  .container .region-footer .footer-container .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.defaultTheme .region-footer .footer-container .footer-top {
  position: relative;
}

.defaultTheme .region-footer .footer-container .footer-top .footer-logo-def {
  position: absolute;
  right: 0;
}

.defaultTheme .region-footer .footer-container .footer-top .footer-logo-light {
  display: none;
}

.defaultTheme .region-footer .footer-container .footer-top .footer-logo-dark {
  display: none;
}

.lightTheme {
  background: #dfc9c9;
  font-family: "Kosugi Maru", sans-serif;
}

.lightTheme li {
  font-size: 16px;
}

.lightTheme .container-region-wrapper .region-top .top-up .nav-dropdown .dropbuton {
  font-size: 16px;
}

.lightTheme .container-region-wrapper .region-top .top-up .nav-list .nav-item .nav-item-link {
  color: #6f6d6d;
  font-size: 15px;
}

.lightTheme .container-region-wrapper .region-top .top-up .nav-list .nav-item .nav-item-link:hover {
  background-color: #7f5656;
  color: #dfc9c9;
}

.lightTheme .container-region-wrapper .region-top .top-up .nav-list .nav-item .nav-item-link:focus {
  border: 1px solid #ded32a;
}

.lightTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left {
  min-width: 185px;
}

.lightTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field:hover {
  background: #7f5656;
}

.lightTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field input {
  padding: 5px;
  color: #9a4b4b;
}

.lightTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field input:focus {
  border: 1px solid #07235c;
  -webkit-box-shadow: inset 1px 1px 10px #07235c;
          box-shadow: inset 1px 1px 10px #07235c;
}

.lightTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button {
  color: #dfc9c9;
  background-color: #6f6d6d;
  border: 1px solid #07235c;
}

.lightTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button:hover {
  background-color: #7f5656;
  border: 1px solid #07235c;
  -webkit-box-shadow: 1px 2px 40px #07235c;
          box-shadow: 1px 2px 40px #07235c;
  color: #dfc9c9;
}

.lightTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button:focus {
  border: 1px solid #ded32a;
}

.lightTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right {
  min-width: 360px;
}

.lightTheme .region-footer {
  background: #6f6d6d;
}

.lightTheme .region-footer .footer-container {
  color: #dfc9c9;
}

.lightTheme .region-footer .footer-container .footer-top {
  position: relative;
}

.lightTheme .region-footer .footer-container .footer-top .footer-logo-def {
  display: none;
}

.lightTheme .region-footer .footer-container .footer-top .footer-logo-light {
  position: absolute;
  right: 0;
}

.lightTheme .region-footer .footer-container .footer-top .footer-logo-dark {
  display: none;
}

.lightTheme .region-footer .footer-container .footer-bottom a {
  color: #dfc9c9;
}

.darkTheme {
  font-family: "Reggae One", cursive;
  background: #202124;
}

.darkTheme .container-region-wrapper .region-top .top-up .nav-dropdown .dropbuton:hover {
  -webkit-box-shadow: 1px 1px 40px #b7ad13;
          box-shadow: 1px 1px 40px #b7ad13;
}

@media (max-width: 575px) {
  .darkTheme .container-region-wrapper .region-top .top-up .nav-dropdown .dropdown-content .dropdown-list .list-theme-item {
    font-size: 13px;
  }
}

.darkTheme .container-region-wrapper .region-top .top-up .nav-list .nav-item .nav-item-link {
  color: #fff;
}

.darkTheme .container-region-wrapper .region-top .top-up .nav-list .nav-item .nav-item-link:hover {
  border-bottom: 1px solid #b7ad13;
  border-radius: 0;
  -webkit-box-shadow: 1px 1px 40px #b7ad13;
          box-shadow: 1px 1px 40px #b7ad13;
  background-color: #202124;
  color: #dfc9c9;
}

.darkTheme .container-region-wrapper .region-top .top-up .nav-list .nav-item .nav-item-link:focus {
  border-bottom: 1px solid #ded32a;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left {
  width: 28%;
  min-width: 200px;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left .column-title {
  color: #d93025;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-left .column-row-wrapper .row-text {
  color: #fff;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field input {
  border-left-color: #b7ad13;
  border-bottom-color: #b7ad13;
  background: #2b2a27;
  padding: 5px;
  color: #fff;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .search-field input:focus {
  background: -webkit-gradient(linear, left top, right top, from(#4285f4), color-stop(#ea4335), color-stop(#fbbc05), color-stop(#4285f4), color-stop(#34a853), to(#ea4335));
  background: linear-gradient(to right, #4285f4, #ea4335, #fbbc05, #4285f4, #34a853, #ea4335);
  border: 1px solid #07235c;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-fields .form-field-bottom .field-bottom-between .column-text {
  color: #fff;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button {
  background-color: #202124;
  border: none;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button:hover {
  background-color: #202124;
  border-bottom: 1px solid #b7ad13;
  border-left: 1px solid #b7ad13;
  -webkit-box-shadow: 1px 1px 40px #b7ad13;
          box-shadow: 1px 1px 40px #b7ad13;
  color: #dfc9c9;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-middle .search-form-buttons .search-form-button:focus {
  border: none;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right {
  min-width: 395px;
  width: 72%;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right .column-title {
  color: #d93025;
}

.darkTheme .container-region-wrapper .region-content .content-search-wrapper .search-form-content .search-form-column-right .column-wrapper .column-row-wrapper .row-text {
  color: #c8c8cf;
}

.darkTheme .region-footer {
  background: #202124;
}

.darkTheme .region-footer .footer-container {
  color: #fff;
}

.darkTheme .region-footer .footer-container .footer-top {
  position: relative;
}

.darkTheme .region-footer .footer-container .footer-top .footer-logo-def {
  display: none;
}

.darkTheme .region-footer .footer-container .footer-top .footer-logo-light {
  display: none;
}

.darkTheme .region-footer .footer-container .footer-top .footer-logo-dark {
  position: absolute;
  right: 0;
}

.darkTheme .region-footer .footer-container .footer-top .footer-logo-dark img {
  background: #8f8585;
  border-left: 1px solid #4285f4;
  border-right: 1px solid #fbbc05;
  border-top: 1px solid #ea4335;
  border-bottom: 1px solid #34a853;
  -webkit-box-shadow: 1px 1px 40px #ded32a;
          box-shadow: 1px 1px 40px #ded32a;
}

.darkTheme .region-footer .footer-container .footer-bottom a {
  color: #fff;
}

.darkTheme .region-footer .footer-container .footer-bottom a:hover {
  color: #dfc9c9;
  text-decoration: none;
  border-left: 1px solid #ded32a;
  border-right: 1px solid #ded32a;
  border-radius: 30%;
}
